# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and Metadata
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotbackup

# Local development / temporary files
*.log
node_modules/
package-lock.json
.npm/
